*.zip
*.json
*.pyc
code/log.txt
code/t5_translation_model
code/bilstm_translation_model
code/bilstm_tokenized_cache
code/t5_tokenized_cache
code/model_dir
code/test_model
*.arrow
*.pt
*.bin
*.pth
.gitignore
.gitignore
code/qwen/*
code/qwen_tokenized_datasets*
code/t5/*
code/checkpoints/*
*.safetensors
model.safetensors
pytorch_model.bin
optimizer.pt
scheduler.pt
trainer_state.json
training_args.bin
**/qwen/**
**/checkpoint-*/**
**/*.safetensors
**/*.bin
**/model-*
**/pytorch_model-*
**/training_args.bin
**/trainer_state.json
**/optimizer.pt
**/scheduler.pt
**/rng_state.pth